body {
    background-color: #292a36;
    color: whitesmoke;
}

img {
    height: 80px;
    width: 80px;
}

.clickable {
    cursor: pointer;
}

.indicator {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 3px;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 8px;
}

.rightPlace {
    background-color: red;
}

.wrongPlace {
    background-color: yellow;
}